i {
  line-height: 24px;
  text-align: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  color: $COLOR_WHITE;
  padding: 15px 53px;
  border-radius: 12px;
  font-family: $SECOND_FONT;
  font-size: 14px;
  line-height: 14.5px;
  font-weight: 700;

  // button colors
  &.btn__yellow {
    background: $COLOR_YELLOW;
    border: 2px solid $COLOR_YELLOW;
  }

  &.btn__green {
    background: $COLOR_GREEN;
    border: 2px solid $COLOR_GREEN;
  }

  &.btn__olive {
    background: $COLOR_OLIVE;
    border: 2px solid $COLOR_OLIVE;
  }

  &.btn__nude {
    background: $COLOR_NUDE;
    border: 2px solid $COLOR_NUDE;
  }

  &.btn__black-border {
    background: transparent;
    color: $COLOR_TEXT;
    border: 2px solid $COLOR_TEXT;
  }

  // icons
  &.btn__icon-only {
    background: $COLOR_BROWN;
    border: 2px solid $COLOR_BROWN;
    padding: 15px;
    border-radius: 50%;
    color: $COLOR_WHITE;
    width: 48px;
    height: 48px;
  }

  &.btn__icon-olive {
    background: $COLOR_OLIVE;
    border: 2px solid $COLOR_OLIVE;
    padding: 30px;
    border-radius: 50%;
    color: $COLOR_WHITE;
  }

  &.btn__medium {
    background: transparent;
    color: $COLOR_WHITE;
    border: 2px solid $COLOR_WHITE;
  }
}

.btn__icon-olive i {
  line-height: 20px;
}

// HOVER
.btn__yellow:hover {
  background: $COLOR_YELLOW;
  border: 2px solid $COLOR_TEXT_50;
  color: $COLOR_TEXT_50;
}

.btn__green:hover {
  background: $COLOR_WHITE;
  border: 2px solid $COLOR_GREEN;
  color: $COLOR_GREEN;
}

.btn__olive:hover {
  background: transparent;
  border: 2px solid $COLOR_OLIVE;
  color: $COLOR_OLIVE;
}

.btn__nude:hover {
  background: transparent;
  border: 2px solid $COLOR_NUDE;
  color: $COLOR_NUDE;
}

.btn__black-border:hover {
  background: $COLOR_TEXT_50;
  color: $COLOR_WHITE;
  border: 2px solid $COLOR_TEXT_50;
}
