i {
  line-height: 24px;
  text-align: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  color: $COLOR_WHITE;
  padding: 15px 53px;
  border-radius: 12px;
  font-family: $SECOND_FONT;
  font-size: 14px;
  line-height: 14.5px;
  font-weight: 700;

  // button colors
  &.btn__blue {
    background: $COLOR_BLUE;
    border: 2px solid $COLOR_BLUE;
  }

  &.btn__dark-gray {
    background: $COLOR_DARK_GRAY;
    border: 2px solid $COLOR_DARK_GRAY;
  }

  &.btn__pink {
    background: $COLOR_PINK;
    border: 2px solid $COLOR_PINK;
  }

  &.btn__light-pink {
    background: $COLOR_LIGHT_PINK;
    border: 2px solid $COLOR_LIGHT_PINK;
  }

  &.btn__black-border {
    background: transparent;
    color: $COLOR_TEXT;
    border: 2px solid $COLOR_TEXT;
  }

  &.btn__light-gray-border {
    background: transparent;
    color: $COLOR_LIGHT_GRAY;
    border: 2px solid $COLOR_LIGHT_GRAY;
  }

  // icons
  &.btn__icon-only {
    background: $COLOR_PINK;
    border: 2px solid $COLOR_PINK;
    padding: 15px;
    border-radius: 50%;
    color: $COLOR_WHITE;
    width: 48px;
    height: 48px;
  }

  &.btn__icon-pink {
    background: $COLOR_PINK;
    padding: 30px;
    border-radius: 50%;
    color: $COLOR_WHITE;
    height: 84px;
    width: 84px;
    text-align: center;

    i {
      line-height: 25px;
    }
  }

  &.btn__icon-light-pink {
    background: $COLOR_LIGHT_PINK;
    padding: 30px;
    border-radius: 50%;
    color: $COLOR_WHITE;
    height: 84px;
    width: 84px;
    opacity: 0.85;

    i {
      width: 25px;
      line-height: 25px;
      text-align: center;
    }
  }

  &.btn__medium {
    background: transparent;
    color: $COLOR_WHITE;
    border: 2px solid $COLOR_WHITE;
  }
}

// HOVER
.btn__blue:hover {
  background: $COLOR_BLUE;
  border: 2px solid $COLOR_LIGHT_GRAY;
  color: $COLOR_LIGHT_GRAY;
}

.btn__dark-gray:hover {
  background: $COLOR_BLUE;
  border: 2px solid $COLOR_DARK_GRAY;
  color: $COLOR_DARK_GRAY;
}

.btn__pink:hover {
  background: $COLOR_LIGHT_PINK;
  border: 2px solid $COLOR_PINK;
  color: $COLOR_PINK;
}

.btn__light-pink:hover {
  background: $COLOR_PINK;
  border: 2px solid $COLOR_LIGHT_PINK;
  color: $COLOR_LIGHT_PINK;
}

.btn__black-border:hover {
  background: $COLOR_TEXT_50;
  color: $COLOR_WHITE;
  border: 2px solid $COLOR_TEXT_50;
}

.btn__light-gray-border:hover {
  background: $COLOR_DARK_GRAY;
  color: $COLOR_LIGHT_GRAY;
  border: 2px solid $COLOR_LIGHT_GRAY;
}
