.carousel {
  min-height: 420px;
  height: 100%;
  position: relative;
  padding-top: 20px;
}

.carousel__item {
  width: 270px;
  height: 350px;
  justify-content: center;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 15px;
  z-index: 1;
}

// .instructor__img {
//   position: absolute;
// }
.flickity-viewport {
  overflow: visible;
}
