body {
  background-color: $COLOR_NUDE;
}

.background-img {
  height: 880px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  margin: 50px 0;
  padding: 50px 0;
}

.hero__item {
  flex-direction: row;
  justify-self: center;
}
