.icon {
  background: $COLOR_OLIVE;
  width: 128px;
  height: 128px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.icon img {
  line-height: 64px;
}

.symbol {
  width: 86px;
  height: 86px;
  align-content: center;
  justify-content: center;
}

.symbol img {
  align-self: center;
  justify-self: center;
}

.icon-sm {
  background: $COLOR_OLIVE;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 20px;
}

// training
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
}

.training__class {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.training__time {
  position: absolute;
  bottom: 30%;
  left: 10%;
}

// testimonials
.quote {
  position: absolute;
  top: 10px;
  left: 10px;
}
