// SHOWCASE
.icon {
  background: $COLOR_OLIVE;
  min-width: 128px;
  min-height: 128px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.icon img {
  max-width: 64px;
}

// CLASSES
.classes__item img {
  height: 147px;
}

// DISCOUNT & HIRING
.symbol {
  width: 86px;
  height: 86px;
  align-content: center;
  justify-content: center;
}

.symbol img {
  align-self: center;
  justify-self: center;
  max-width: 46px;
  max-height: 48px;
}

// TRAINING
.training__vid i {
  width: 25px;
  height: 20px;
}

// TESTIMONIALS
.quote {
  position: absolute;
  top: 8px;
  left: 48px;
  width: 48px;
  height: 36px;
}

// CONTACT
.icon-sm {
  background: $COLOR_OLIVE;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 20px;
}

.icon-sm img {
  max-width: 27px;
  max-height: 32px;
}
