html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  // smooth anchor scroll
  scroll-padding-top: 80px;
  scroll-behavior: smooth;

  // font
  font-size: 16pt;
  font-family: "David Libre", serif;
}

body {
  background-color: $COLOR_NUDE;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
}
