// body {
//   font-family: $MAIN_FONT;
//   color: $COLOR_TEXT;
// }

.h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 900;
}

.h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
}

.h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
}

.h4 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
}

.bold_L {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.bold_M {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.bold_S {
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
}

.p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.regular_L {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.regular_M {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.regular_S {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}
