// body {
//   font-family: $MAIN_FONT;
//   color: $COLOR_TEXT;
// }

// .t-nav {
//   font-family: $SECOND_FONT;
//   font-size: 56px;
//   line-height: 64px;
//   letter-spacing: -1.4px;
//   font-weight: 400;

//   &.h1-hero--b {
//     font-weight: 700;
//   }

//   &.h1-hero--h {
//     font-weight: 900;
//   }
// }

.t-nav {
  font-family: $SECOND_FONT;
  color: $COLOR_WHITE;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.t-menu-link {
  font-family: $SECOND_FONT;
  color: $COLOR_YELLOW;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 3px;
  font-weight: 400;
}

.t-hero-title {
  font-family: $MAIN_FONT;
  color: $COLOR_WHITE;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1.4px;
  font-weight: 700;
  text-shadow: 2px 2px $COLOR_TEXT_50;
}

.t-sec-title {
  font-family: $MAIN_FONT;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.8px;
  font-weight: 700;
}

.t-caption {
  font-family: $SECOND_FONT;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.t-content {
  font-family: $SECOND_FONT;
  color: $COLOR_TEXT_50;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.t-label {
  font-family: $MAIN_FONT;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.t-tag {
  font-family: $SECOND_FONT;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.t-text {
  font-family: $SECOND_FONT;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.t-footer {
  font-family: $SECOND_FONT;
  color: $COLOR_GREEN;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 3px;
  font-weight: 400;
}

.h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 900;
}

.h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
}

.h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
}

.h4 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
}

.bold_L {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}

.bold_M {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.bold_S {
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
}

.p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.regular_L {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.regular_M {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.regular_S {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}
