// display
.d-flex {
  display: flex;
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}

// spacings
.jc-center {
  display: flex;
  justify-content: center;
}

.jc-space-between {
  display: flex;
  justify-content: space-between;
}

// boxes and borders
.white-filled {
  background: $COLOR_WHITE;
  border: 5px solid $COLOR_WHITE;
  border-radius: 32px;
  outline: 2px solid $COLOR_WHITE;
  outline-offset: 24px;
  box-shadow: 0 0 3px #ddd;
}

.nude-filled {
  background: $COLOR_NUDE;
  border-radius: 32px;
}
.green-filled {
  background: $COLOR_GREEN;
  border-radius: 32px;
}
.olive-filled {
  background: $COLOR_OLIVE;
  border-radius: 32px;
}
.brown-filled {
  background: $COLOR_BROWN;
  border-radius: 32px;
}

.icon {
  background: $COLOR_OLIVE;
  width: 128px;
  height: 128px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.icon img {
  line-height: 64px;
}

.icon-sm {
  background: $COLOR_OLIVE;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-right: 20px;
}

.menu_link {
  color: $COLOR_YELLOW;
  font-family: $SECOND_FONT;
}
