// display
.d-flex {
  display: flex;
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.d-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d-column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// spacings
.ac-center {
  display: flex;
  align-content: center;
}

.jc-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

// margin
.margin-btm-10 {
  margin-bottom: 10px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px auto;
}

.margin-top-btm-50 {
  margin: 50px auto;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-20 {
  margin-top: 20px;
}

// PADDING
.padding-45-25 {
  padding: 45px 25px;
}

.padding-50 {
  padding: 50px;
}

.padding-20 {
  padding: 20px;
}

.padding-no-right {
  padding-top: 45px;
  padding-left: 25px;
  padding-bottom: 45px;
}

.padding-top-btm-10 {
  padding: 10px auto;
}

// boxes and borders
.white-filled-outline {
  background: $COLOR_WHITE;
  border: 5px solid $COLOR_WHITE;
  border-radius: 32px;
  outline: 2px solid $COLOR_WHITE;
  outline-offset: 24px;
  box-shadow: 0 0 3px $COLOR_TEXT_50;
}

.white-filled {
  background: $COLOR_WHITE;
  border: 5px solid $COLOR_WHITE;
  border-radius: 32px;
}

.nude-filled {
  background: $COLOR_NUDE;
  border-radius: 32px;
}
.green-filled {
  background: $COLOR_GREEN;
  border-radius: 32px;
}
.olive-filled {
  background: $COLOR_OLIVE;
  border-radius: 32px;
}
.brown-filled {
  background: $COLOR_BROWN;
  border-radius: 32px;
}

.menu_link {
  color: $COLOR_YELLOW;
  font-family: $SECOND_FONT;
  margin: 20px auto;
}

.classes {
  height: 352px;
  color: $COLOR_WHITE;
}

.media__item span {
  color: $COLOR_TEXT;
}
