@mixin hamburger {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@media screen and (min-width: 576px) {
  .discount__item-btn {
    margin-top: 36px;
  }

  .hero__image {
    margin-top: 80px;
  }
}

// @media screen and (max-width: 576px) {
//   .discount__item-btn {
//     margin-top: 36px;
//   }

//   section {
//     padding-left: 12px;
//     padding-right: 12px;
//   }
// }

// md
@media screen and (min-width: 768px) {
  // MEDIA
  #about,
  #media {
    padding-top: 145px;
    padding-left: 0;
    padding-right: 0;
  }

  .media__text {
    margin-bottom: 0;
  }

  // CLASSES
  .classes {
    padding-left: 0;
    padding-right: 0;
  }

  // DISCOUNT
  #discount {
    padding-left: 0;
    padding-right: 0;
  }

  .discount__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 68px;
  }

  .discount__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .discount__item-img {
    margin-right: 45px;
  }

  .discount__item-btn {
    margin-top: 0;
  }

  // MEDIA
  #media {
    padding-left: 0;
    padding-right: 0;
  }

  // TRAINING
  #training {
    padding-left: 0;
    padding-right: 0;
  }

  .training_title {
    padding-bottom: 63px;
  }

  .training__vid-vinayasa {
    margin-top: 15px;
  }

  .training__vid-meditation {
    margin-top: 15px;
  }

  // INSTRUCTOR
  #instructors {
    padding-left: 0;
    padding-right: 0;
  }

  .instructor_title {
    padding-bottom: 60px;
  }

  .instructor_title {
    padding-bottom: 63px;
  }

  .testimonial__block {
    padding: 48px;
  }

  // HIRING
  #hiring {
    padding-top: 116px;
    padding-bottom: 116px;
    padding-left: 0;
    padding-right: 0;
  }

  .hiring__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
  }

  .hiring__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .hiring__item-img {
    margin-right: 45px;
  }

  .hiring__item-btn {
    margin-top: 0;
  }

  // TESTIMONIALS
  #testimonials {
    padding-top: 92px;
    padding-left: 0;
    padding-right: 0;
  }

  // BLOG
  #blog {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .blog_title {
    margin-bottom: 63px;
  }

  // TYPOGRAPHY
  .t-hero-title {
    font-family: $MAIN_FONT;
    color: $COLOR_WHITE;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    font-weight: 700;
  }

  .t-sec-title {
    font-family: $MAIN_FONT;
    color: $COLOR_TEXT;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1.4px;
    font-weight: 700;
  }
}

@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
}
