// color
$COLOR_TEXT: #100720;
$COLOR_TEXT_50: #817c89;
$COLOR_WHITE: #fff;
$COLOR_NUDE: #beb29f;
$COLOR_GREEN: #558065;
$COLOR_OLIVE: #6c7154;
$COLOR_BROWN: #6e6a63;

// FONT
$MAIN_FONT: "David Libre", serif;
$SECOND_FONT: "Kumbh Sans", sans-serif;
