// color
$COLOR_TEXT: #100720;
$COLOR_TEXT_50: #817c89;
$COLOR_WHITE: #fff;
$COLOR_VIOLET: #593095;
$COLOR_LIGHT_VIOLET: #a591c3;
$COLOR_CORAL: #fb687f;
$COLOR_PINK: #d35d96;
$COLOR_LIGHT_PINK: #e2a7c4;
$COLOR_PURPLE: #8b6ca3;
$COLOR_LIGHT_PURPLE: #beafca;
$COLOR_GRAY: #cccccc;
$COLOR_YELLOW: #fce28b;

// FONT
$MAIN_FONT: "David Libre", serif;
$SECOND_FONT: "Kumbh Sans", sans-serif;
