// color
$COLOR_TEXT: #100720;
$COLOR_TEXT_50: #494255;
$COLOR_WHITE: #fff;
$COLOR_LIGHT_GRAY: #f2f2f2;
$COLOR_DARK_GRAY: #7c8c8c;
$COLOR_BLUE: #33424d;
$COLOR_YELLOW: #f7e6d3;
$COLOR_GREEN: #8ea186;
$COLOR_LIGHT_GREEN: #d2d6c7;
$COLOR_PINK: #c3846b;
$COLOR_LIGHT_PINK: #dabbae;

// FONT
$MAIN_FONT: "David Libre", serif;
$SECOND_FONT: "Kumbh Sans", sans-serif;
