// ABOUT SECTION
#about,
#media {
  padding-top: 115px;
  padding-bottom: 115px;
  padding-left: 15px;
  padding-right: 15px;
}

.about__text {
  max-width: 570px;
}

.about__img img {
  max-width: 506px;
}

.about__text-title {
  max-width: 430px;
}

// CLASSES
#classes {
  padding-left: 15px;
  padding-right: 15px;
}

.classes_title {
  max-width: 450px;
  position: initial;
  text-align: center;
}

.classes__item {
  padding: 45px 0;
  padding-left: 28px;
  margin-bottom: 16px;
}

.classes__item-upper {
  h3 {
    color: $COLOR_WHITE;
  }

  p {
    color: $COLOR_WHITE;
  }
}

.classes__item-lower {
  p {
    color: $COLOR_WHITE;
  }

  span {
    color: $COLOR_WHITE;
  }
}

// DISCOUNT
#discount {
  padding-top: 115px;
  padding-bottom: 115px;
  padding-left: 15px;
  padding-right: 15px;
}

.discount__block {
  padding: 60px 28px;
}

.discount__item-text p {
  color: $COLOR_WHITE;
}

.discount__item-btn {
  margin-top: 36px;
}

// media
#media {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.media__btn span {
  color: $COLOR_TEXT;
}

.media__text {
  max-width: 470px;
  margin-bottom: 75px;
}

.media__text-title {
  max-width: 325px;
}

.media__img img {
  max-width: 570px;
}

// training
#training {
  padding-top: 116px;
  padding-left: 15px;
  padding-right: 15px;
}

.training_title {
  max-width: 410px;
  position: initial;
  text-align: center;
  padding-bottom: 53px;
}

.training__vid {
  min-height: 260px;
}

.training__vid-lg {
  height: 100%;
}

.training-vid {
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.4s ease-in-out 0s;
}

.training__vid:hover {
  opacity: 1;
}

.training__vid h4,
.training__vid p {
  color: $COLOR_WHITE;
  text-shadow: 2px 2px $COLOR_TEXT_50;
}

// instructor
#instructors {
  padding-top: 125px;
  padding-left: 15px;
  padding-right: 15px;
}

.instructor_title {
  max-width: 350px;
  text-align: left;
  padding-bottom: 50px;
}

.instructor__img {
  padding-top: -16px;
}

.instructor__block-name {
  color: $COLOR_TEXT;
}

// hiring
#hiring {
  padding-top: 136px;
  padding-bottom: 136px;
  padding-left: 15px;
  padding-right: 15px;
}

.hiring__block {
  padding: 60px 28px;
}

.hiring__item-text p {
  color: $COLOR_WHITE;
}

.hiring__item-btn {
  margin-top: 36px;
}

// testimonials
#testimonials {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.testimonial_title {
  max-width: 395px;
  text-align: center;
  padding-bottom: 50px;
}

.testimonial__block {
  padding: 38px;
  margin: 16px auto;
}

.testimonial__text {
  padding-top: 10px;
}

.testimonials__text-quote {
  max-width: 485px;
  align-items: center;
}

.testimonial__pers-name {
  align-content: center;
}

.testimonial__pers-name p {
  color: $COLOR_WHITE;
}

// blog
#blog {
  padding-top: 124px;
  padding-bottom: 124px;
  padding-left: 15px;
  padding-right: 15px;
}

.blog_title {
  max-width: 330px;
  text-align: left;
  margin-bottom: 50px;
}

.blog__block {
  max-width: 370px;
  margin: 26px auto;
}

.blog__block-title {
  color: $COLOR_TEXT;
}

.blog__block-title,
.blog__block-date,
.blog__block-more {
  padding-left: 10px;
}

.blog_btn {
  margin-top: 65px;
}
