.fluid-bg {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 360px;
    left: 0;
    width: 100%;
    height: 78%;
    background-color: $COLOR_WHITE;
    z-index: -10;
  }
}

// ABOUT SECTION
#about,
#media {
  padding-top: 115px;
}

.about__text {
  max-width: 570px;
}

.about__img img {
  max-width: 506px;
}

.about__text-title {
  max-width: 430px;
}

// CLASSES
#classes {
  padding-top: 155px;
  color: $COLOR_WHITE;
}

.classes__item {
  color: $COLOR_WHITE;
  padding: 45px 0;
  padding-left: 28px;
}

.classes_title {
  max-width: 450px;
  position: initial;
  text-align: center;
}

// DISCOUNT
#discount {
  padding-top: 115px;
}

.discount__block {
  padding: 60px 28px;
}

// media
#media {
  padding-top: 145px;
}

.media__btn span {
  color: $COLOR_TEXT;
}

.media__text {
  max-width: 470px;
}

.media__text-title {
  max-width: 325px;
}

.media__img img {
  max-width: 570px;
}

// training
#training {
  padding-top: 140px;
}

.training_title {
  max-width: 410px;
  position: initial;
  text-align: center;
  padding-bottom: 53px;
}

.training__vid-1 img {
  max-width: 770px;
}

.training__vid-2,
.training__vid-3 {
  max-width: 370px;
}

// instructor
#instructors {
  padding-top: 125px;
}

.instructor_title {
  max-width: 350px;
  text-align: left;
  padding-bottom: 50px;
}

.instructor__block {
  width: 270px;
  height: 336px;
  justify-content: center;
  padding-top: -16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.instructor__img {
  padding-top: -16px;
}

.instructor__block-name {
  color: $COLOR_TEXT;
}

// hiring
#hiring {
  padding-top: 136px;
}

.hiring__block {
  padding: 60px 28px;
}

// testimonials
#testimonials {
  padding-top: 156px;
}

.testimonial_title {
  max-width: 395px;
  text-align: center;
  padding-bottom: 50px;
}

.testimonial__block {
  padding: 38px;
}

.testimonial__text {
  padding-top: 10px;
}

.testimonials__text-quote {
  max-width: 485px;
  align-items: center;
}

// blog
#blog {
  padding-top: 124px;
}

.blog_title {
  max-width: 330px;
  text-align: left;
  margin-bottom: 50px;
}

.blog__block {
  max-width: 370px;
}

.blog__block-title {
  color: $COLOR_TEXT;
}

.blog_btn {
  margin-top: 65px;
}

// contact
#contact {
  padding-top: 145px;
}

// media scren

@media (min-width: 576px) {
  .discount__item-text {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  #about,
  #media {
    padding-top: 145px;
  }

  .discount__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 68px;
  }

  .discount__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .discount__item-img {
    margin-right: 45px;
  }

  .training_title {
    padding-bottom: 63px;
  }

  .instructor_title {
    padding-bottom: 60px;
  }

  #hiring {
    padding-top: 116px;
  }

  .hiring__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
  }

  .hiring__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .hiring__item-img {
    margin-right: 45px;
  }

  #testimonials {
    padding-top: 92px;
  }

  .instructor_title {
    padding-bottom: 63px;
  }

  .testimonial__block {
    padding: 48px;
  }

  #blog {
    padding-top: 60px;
  }

  .blog_title {
    margin-bottom: 63px;
  }

  #contact {
    padding-top: 85px;
  }

  // TYPOGRAPHY
  .t-hero-title {
    font-family: $MAIN_FONT;
    color: $COLOR_WHITE;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    font-weight: 700;
  }

  .t-sec-title {
    font-family: $MAIN_FONT;
    color: $COLOR_TEXT;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1.4px;
    font-weight: 700;
  }
}
