// contact
// contact
#contact {
  padding-top: 21px;
}

.contact__block {
  background: url(.././img/background.png);
  border-radius: 32px;
  padding: 28px;
}

#footer {
  padding-top: 110px;
}

.border {
  padding-top: 64px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  #footer {
    padding-top: 77px;
  }
}
